body {
    margin: 0;
    padding: 0;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #ffe8e7;
	background: #E96D65;
	font-weight: 300;
	overflow-x: hidden;
    font-size: 5px;
}

.App {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.error-message {
    color: #dd1fbd!important;
}

.rollingNumber {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.rollingNumber li {
    display: block;
    bottom: -24px;
    right: -4px;
}

.show-next.questions li.current,
.show-next.questions li.next {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.caps {
    font-variant: small-caps
}

.pink {
	color: #FF1FBD;
}

button.pink {
	line-height: 3;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	background: #FF1FBD;
    border: 0;
    border-bottom: 0.5em solid #dd1fbd;
	color: #fff;
	padding: 0.2em 2em 0 2em;
	font-size: 40%;
	font-weight: bold;
	letter-spacing: 3px;
    margin: 0 10px;
}

#hero {
    position: fixed;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 5vw;
    z-index: 20;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    bottom: 0;
}

#hero img {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: -20%;
}
.nl-phase {
    transition: all 500ms ease-in-out;
    opacity: 1;
    transform: translateY(0)
}
.hidden {
    opacity: 0;
    max-height: 0;
    transform: translateY(200%)
}

.flex {
    display: flex;
}


.flex > * {
    flex: 1;
}

.flex h1 {
    font-size: 4em;
    padding: 0 5vw;
    margin: auto
}

.flex form {
    font-size: 4em;
    margin: auto
}

.flex input {
    color: white!important;
}

@media only screen and (max-device-width: 480px) {
    .flex {
        flex-direction: column;
    }
    .flex h1 {
        font-size: 3em;
    }
    .flex form {
        font-size: 4em;
    }
}

